@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 100, 180,220;
  --background-start-rgb: 34, 60, 70;
  --background-end-rgb: 30, 35, 46;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.group:hover .translate-up {
  transform: translateY(-0.2rem);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
